<div class="modal fade" id="shareTeamModal" data-backdrop="true">
    <form #editTeamForm="ngForm">
        <div class="modal-dialog"  role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Share a team</h5>
              <button type="button" class="close" data-dismiss="modal" #closeModal>&times;</button>
            </div>
            <div class="modal-body">
                
            </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>     
    </form>
</div>
