<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3"  *ngIf="isLoggedIn">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RetroSpector</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <select id="teamOptions" class="custom-select w-auto" [(ngModel)]="selectedTeamId">
              <optgroup label="Owned teams">
                <option *ngFor="let ownedTeam of ownedTeams; trackBy: trackByFn" value="{{ownedTeam.id}}" (click)="selectTeam($event.target.value)">{{ownedTeam.name}}</option>
              </optgroup>
              <optgroup label="Shared Teams">
                  <option *ngFor="let sharedTeam of sharedTeams; trackBy: trackByFn" value="{{sharedTeam.id}}" (click)="selectTeam($event.target.value)">{{sharedTeam.name}}</option>
              </optgroup>
            </select>

            <div *ngIf="selectedTeam !== undefined" class="col-auto retro-card-options dropright">
              <button type="button" class="btn bg-light verticalElipsisOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  &#8942;
              </button>
                <div class="dropdown-menu">
                    <button  class="dropdown-item" data-toggle="modal" data-target="#createTeamModal">Add New Team</button>
                    <div *ngIf="userIsAdminOrOwner()">
                      <button class="dropdown-item" data-toggle="modal" data-target="#editTeamModal">Edit Team Name</button>
                      <button class="dropdown-item">Delete a Team</button>
                      <button class="dropdown-item" data-toggle="modal" data-target="#shareTeamModal">Share</button>
                    </div>
                </div>
          </div>

            <ul class="nav navbar-nav ml-auto">
              <li class="greeting" class="nav-item active mt-1">
                <span class="greeting font-sz-sm">
                  Hello, {{userFirstName}}! &nbsp;&nbsp;
                </span>
              </li>
              <li class="nav-item active">
                <button class="btn btn-primary btn-small" (click)="logout()">Logout</button>
              </li>
            </ul>
        </div>
    </div>
  </nav>
  
  <ret-create-team></ret-create-team>
  <ret-edit-team></ret-edit-team>
  <ret-share-team></ret-share-team>