.modal {
    height: 100%;
}

.modal-dialog {
    height: 320px;
    margin-bottom: 0px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    margin-top: 35px;
}

.modal-content {
    height: 100%;
}

.modal-footer {
    padding-right: 35px;
    padding-bottom: 35px;
    background-color: #fff;
    border-top: none;
}

.modal-blur {
    background-color: rgba(0, 0, 0, 0.5);
}