<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3"  *ngIf="isLoggedIn">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">RetroSpector</a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                  <div class="dropdown-menu">
                      <a href="#" class="dropdown-item disabled font-weight-bold">Link 1</a>
                      <a href="#" class="dropdown-item">Link 2</a>
                      <a href="#" class="dropdown-item">Link 3</a>
                  </div>
              </li>
              </ul>
              <select id="teamOptions" class="custom-select mt-3"  [(ngModel)]="selectedTeamId" (ngModelChange)="selectedTeam($event)">
                <optgroup label="Owned teams">
                  <option *ngFor="let ownedTeam of ownedTeams" value="{{ownedTeam.id}}">{{ownedTeam.name}}</option>
                </optgroup>
                <optgroup label="Shared Teams">
                    <option *ngFor="let sharedTeam of sharedTeams" value="{{sharedTeam.id}}">{{sharedTeam.name}}</option>
                </optgroup>
              </select>
              <ul class="nav navbar-nav ml-auto">
                <li class="greeting" class="nav-item active">
                  <span class="greeting font-sz-sm">
                    Hello, {{userFirstName}}! &nbsp;&nbsp;
                  </span>
                </li>
                <li class="nav-item active">
                  <button class="btn btn-primary btn-small" (click)="logout()">Logout</button>
                </li>
              </ul>
          </div>
      </div>
    </nav>
    
      <div class="container">
        <section *ngIf="!isLoggedIn">
          <ret-login-page></ret-login-page>
        </section>
        <section *ngIf="isLoggedIn">
    <ret-dashboard (ownedTeamsChange)="ownedTeamsChange($event)" (sharedTeamsChange)="sharedTeamsChange($event)" (selectedTeamChange)="selectedTeamChange($event)" [selectedTeam]="selectedTeamId"></ret-dashboard>
        </section>
      </div>
    </div>