<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3"  *ngIf="isLoggedIn">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">RetroSpector</a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <select id="teamOptions" class="custom-select w-auto" [(ngModel)]="selectedTeamId" (ngModelChange)="newTeamSelected($event)">
                <optgroup label="Owned teams">
                  <option *ngFor="let ownedTeam of ownedTeams; trackBy: trackByFn" value="{{ownedTeam.id}}">{{ownedTeam.name}}</option>
                </optgroup>
                <optgroup label="Shared Teams">
                    <option *ngFor="let sharedTeam of sharedTeams; trackBy: trackByFn" value="{{sharedTeam.id}}">{{sharedTeam.name}}</option>
                </optgroup>
              </select>
              <ul class="nav navbar-nav ml-auto">
                <li class="greeting" class="nav-item active mt-1">
                  <span class="greeting font-sz-sm">
                    Hello, {{userFirstName}}! &nbsp;&nbsp;
                  </span>
                </li>
                <li class="nav-item active">
                  <button class="btn btn-primary btn-small" (click)="logout()">Logout</button>
                </li>
              </ul>
          </div>
      </div>
    </nav>
    
      <section *ngIf="!isLoggedIn">
        <ret-login-page></ret-login-page>
      </section>
      <section *ngIf="isLoggedIn">
        
      <ret-dashboard [userId]="userId" [selectedTeam]="selectedTeam" (retroGameCreatedChange)="createRetroGame($event)" (teamCreatedChange)="createTeam($event)"></ret-dashboard>
      </section>
</div>