<div class="card text-primary">
    <div class="card-body">
        <div class="row">
            <div class="col retro-card-content">
                <h4 class="card-title">{{game.name}}</h4>
                <p class="card-text">{{game.notesCount}} notes, last modified {{game.lastModified  | date:'MM/dd' }}</p>
            </div>
            <div class="col-auto retro-card-play my-auto">
                <button class="btn btn-primary">Play</button>
            </div>
            <div class="col-auto retro-card-options dropright my-auto">
                <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="verticalElipsis">
                    &#8942;
                </button>
                  <div class="dropdown-menu ml-2">
                      <button class="dropdown-item" type="button" (click)="openUrlModal()">Get URL</button>
                      <button class="dropdown-item">Export to PDF</button>
                      <button class="dropdown-item">Edit Name</button>
                  </div>
            </div>
        </div>
    </div>
</div>

<!--Get Url Pop Up-->
<ngx-smart-modal #getUrlModal identifier="{{game.id}}">
    <h1>Game Url:</h1>
    <p>{{game.url}}</p>
    <footer class="col-md-12 text-center">
        <button class="btn btn-secondary" (click)="getUrlModal.close()">Done</button>
    </footer>
  </ngx-smart-modal>